<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.coin.data.ChartMapper">
    <resultMap id="Chart" type="com.example.coin.po.Chart">
        <id column="id" property="chartId"/>
        <result column="userId" property="userId"/>
        <result column="jsonName" property="jsonName"/>
        <result column="jsonURL" property="jsonURL"/>
        <result column="imgName" property="imgName"/>
        <result column="imgURL" property="imgURL"/>
        <result column="variable" property="variable"/>
    </resultMap>
    <select id="getAllCharts" resultMap="Chart">
        select * from chart
    </select>
    <select id="getUserCharts" resultMap="Chart">
        select * from chart where userId=#{userId} and variable!=0
    </select>
    <insert id="addChart" parameterType="com.example.coin.po.Chart" useGeneratedKeys="true" keyProperty="id">
        insert into chart(userId,jsonName,jsonURL,imgName,imgURL)
        values(#{userId},#{jsonName},#{jsonURL},#{imgName},#{imgURL})
    </insert>
    <select id="getChartById" resultMap="Chart">
        select * from chart where id=#{chartId}
    </select>
    <update id="deleteChart">
        update chart set variable=0 where id=#{chartId}
    </update>
    <update id="updateChart">
        update chart set jsonName=#{jsonName},jsonURL=#{jsonURL},imgName=#{imgName},imgURL=#{imgURL} where id=#{chartId}
    </update>
</mapper>